--
-- PostgreSQL database dump
--

\restrict Xg7Yi19lm5FMkDJDKRVFeAKrzD9TMllnyofCxKdUhtSww2QiTcnJFkA33aTGqij

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: aircraft; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.aircraft (
    id integer NOT NULL,
    model character varying(50) NOT NULL,
    airline_iata_code character varying(3) NOT NULL
);


ALTER TABLE public.aircraft OWNER TO postgres;

--
-- Name: aircraft_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.aircraft_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.aircraft_id_seq OWNER TO postgres;

--
-- Name: aircraft_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.aircraft_id_seq OWNED BY public.aircraft.id;


--
-- Name: aircraft id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.aircraft ALTER COLUMN id SET DEFAULT nextval('public.aircraft_id_seq'::regclass);


--
-- Data for Name: aircraft; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.aircraft (id, model, airline_iata_code) FROM stdin;
17	A320	SU
18	A321	SU
19	A330-300	SU
20	B777-300	SU
21	SSJ-100	SU
22	A320	S7
23	A321	S7
24	B737-800	S7
25	EMB-190	S7
26	A320	U6
27	A321	U6
28	B737-700	UT
29	B737-800	UT
30	ATR-72	UT
31	B737-800	DP
32	B777-200	N4
33	B767-300	N4
34	A330-300	TK
35	B777-300	TK
36	B787-9	TK
37	A380	EK
38	B777-300	EK
39	B787-8	QR
40	A350-900	QR
41	A320	LH
42	A321	LH
43	A330-300	LH
44	A320	AF
45	A330-200	AF
46	B747-400	BA
47	B787-8	BA
\.


--
-- Name: aircraft_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.aircraft_id_seq', 48, true);


--
-- Name: aircraft aircraft_model_airline_iata_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.aircraft
    ADD CONSTRAINT aircraft_model_airline_iata_code_key UNIQUE (model, airline_iata_code);


--
-- Name: aircraft aircraft_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.aircraft
    ADD CONSTRAINT aircraft_pkey PRIMARY KEY (id);


--
-- Name: aircraft aircraft_airline_iata_code_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.aircraft
    ADD CONSTRAINT aircraft_airline_iata_code_fkey FOREIGN KEY (airline_iata_code) REFERENCES public.airline(iata_code);


--
-- Name: aircraft aircraft_model_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.aircraft
    ADD CONSTRAINT aircraft_model_fkey FOREIGN KEY (model) REFERENCES public.aircraft_model(model);


--
-- Name: TABLE aircraft; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.aircraft TO admin;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.aircraft TO app;
GRANT SELECT ON TABLE public.aircraft TO readonly;


--
-- Name: SEQUENCE aircraft_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.aircraft_id_seq TO admin;
GRANT USAGE ON SEQUENCE public.aircraft_id_seq TO app;


--
-- PostgreSQL database dump complete
--

\unrestrict Xg7Yi19lm5FMkDJDKRVFeAKrzD9TMllnyofCxKdUhtSww2QiTcnJFkA33aTGqij

